// Charts 
.charts-tab-container {
    height: 100%;

    .charts-block {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .chart-data-type {
            >span {
                margin-right: 8px;
            }
        }

        canvas {
            height: 85% !important;
        }
    }

    .chart-data-block {
        .chart-data-buttons {
            >:first-child {
                margin-right: 6px;
            }
        }

        .chart-data-set {
            margin: 4px 0;

            >div {
                display: flex;

                >div {
                    width: 50%;
                    margin: 4px 4px;
                }

                .ant-input-number {
                    width: 100%;
                }
            }
        }
    }
}

// Graphs
.graphs-tab-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .graph-data-buttons {
        height: 5%;
        display: flex;

        >:first-child {
            margin-right: 4px;
        }

        .graph-configure-button {
            button {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .graph-data-block {
        height: 15%;
        width: 100%;
        flex-direction: row;
        border: 1px solid lightgray;

        .graph-data-coniguration {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;

            >div {
                height: 50%;
                display: flex;
                align-items: center;

                >span {
                    width: 20%;
                    margin: 0 8px;
                }

                .slider {
                    width: 80%;

                    .ant-slider-rail {
                        background-color: lightgray;
                    }
                }
            }
        }

        .graph-movement {
            width: 50%;
            display: flex;
            border-left: 1px solid lightgray;
            justify-content: space-around;
            align-items: center;

            >span {
                overflow: hidden;
            }

            >div {
                display: flex;
                flex-direction: column;
                align-items: center;

                .left_right {
                    width: 110px;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
}

.graphs-block {
    height: 80%;
}