body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 0.4s;
}

.ant-layout .ant-layout-sider-light {
    height: 100vh;
    background: wheat;
}

.side-menu {
    width: 20%;
    display: flex;
    justify-content: center;

    .menu-label {
        display: flex;
        justify-content: center;
        background-color: yellow;
        margin: 24px 0;
        padding: 12px;
        border-radius: 4px;
    }

    .divider-dark {
        width: 160px;
        background: white;
        margin: 12px 0 12px 0;
    }

    .divider-light {
        width: 160px;
        background: black;
        margin: 12px 0 12px 0;
    }

    .menu-apps {
        height: 784px;
        display: flex;
        flex-direction: column;

        .link {
            margin: 12px 0;

            >* {
                width: 100%;
            }
        }

        span {
            align-self: center;
        }

        .dark {
            color: darkorange;
        }

        .light {
            color: purple;
        }
    }

    .theme-block {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .theme-title {
            z-index: 2;
            margin-right: 8px;
        }

        .dark {
            color: white;
        }

        .light {
            color: black;
        }

        .theme-switcher {
            z-index: 2;
        }
    }
}

.menu-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content-city {
    background: url(../resources/Backgrounds/City.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s ease;
}

.menu-content-lightning {
    background: url(../resources/Backgrounds/Lightning.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s ease;
}

.menu-content-leaves {
    background: url(../resources/Backgrounds/Leaves.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s ease;
}

.menu-content-night {
    background: url(../resources/Backgrounds/Night.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s ease;
}

.menu-content-water {
    background: url(../resources/Backgrounds/Water.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s ease;
}